DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DATABASE?schema=public
NEXTAUTH_SECRET=your-super-secret-key-here
NEXTAUTH_URL=http://localhost:3000
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxx
META_APP_ID=your-meta-app-id
META_APP_SECRET=your-meta-app-secret
TIKTOK_APP_ID=your-tiktok-app-id
TIKTOK_APP_SECRET=your-tiktok-app-secret
CRON_SECRET=your-cron-secret-key
SHOPIFY_CLIENT_ID=
SHOPIFY_CLIENT_SECRET=
